/frontend/node_modules
/server/node_modules
/server/.env
/frontend/.env
/compiler/.env
/frontend/src/shared/components/testingData
/compiler/node_modules
/compiler/codeexecutor/codes
/compiler/codeexecutor/outputs
/compiler/codeexecutor/inputs