.editor_div {
  background: white;
  padding: 1rem 1rem;
}

.editor_div label {
  font-weight: bold;
}

.editor_div select {
  width: 30%;
  font-size: 1.15rem;
  padding: 0rem 1rem;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.language_label {
  background-color: white;
  font-size: larger;
}
.editor_input_output {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: #282828;
}

.input_output {
  margin: 5px;
  display: flex;
}
.input {
  margin-right: 40px;
}

@media (min-width: 768px) {
  .editor_input_output {
    display: flex;
    width: 100%;
  }
  .input_output {
    display: flex;
  }
}
