.editor_div {
  background: white;
  padding: 1rem 1rem;
}

.editor_div label {
  font-weight: bold;
}

.editor_div select {
  width: 30%;
  font-size: 1.15rem;
  padding: 0rem 1rem;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.language_label {
  background-color: white;
  font-size: larger;
}
.editor_input_output {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: #282828;
}

.input_output {
  margin: 1rem 0rem 0rem 0rem;
  /* display: flex; */
  padding: 20px;
  border-radius: 10px;
  background-color: #282828;
}
.input {
  margin-right: 40px;
}
.input label {
  color: white;
}
.input textarea {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.output {
  margin-right: 40px;
}
.output label {
  color: white;
}
.output textarea {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.complile-submit {
  margin: 1rem 0rem 0rem 0rem;
  /* display: flex; */
  padding: 20px;
  border-radius: 10px;
  background-color: #282828;
}

.verdict {
  margin: 1rem 0rem 0rem 0rem;
  border-radius: 6px;
  font-weight: bold;
  padding-left: 10px;
  align-items: center;
}

@media (min-width: 768px) {
  .editor_input_output {
    display: flex;
    width: 100%;
  }
  .input_output {
    display: flex;
  }
}
